<form
  [formGroup]="registrationForm"
  id="employeeForm"
  (ngSubmit)="submitForm()"
>
  <label for="name">Name:</label>
  <input
    formControlName="name"
    type="text"
    id="name"
    name="name"
    placeholder="Enter name"
  />

  <label for="salary">Salary:</label>
  <input
    formControlName="salary"
    type="number"
    id="salary"
    name="salary"
    placeholder="Enter salary"
  />

  <label for="age">Age:</label>
  <input
    formControlName="age"
    type="number"
    id="age"
    name="age"
    placeholder="Enter age"
  />

  <button type="submit">Submit</button>

  <app-employee-list></app-employee-list>
</form>
